{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Ecom | AdiCreation </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="keywords" content="HTML5 Template">
  <meta name="description" content="Ecom">
  <meta name="author" content="p-themes">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'images/icons/site.html' %}">
  <link rel="mask-icon" href="{% static 'images/icons/safari-pinned-tab.svg' %}" color="#666666">
  <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}">
  <meta name="apple-mobile-web-app-title" content="Ecom">
  <meta name="application-name" content="Ecom">
  <meta name="msapplication-TileColor" content="#cc9966">
  <meta name="msapplication-config" content="{% static 'images/icons/browserconfig.xml' %}">
  <meta name="theme-color" content="#ffffff">
  <!-- Plugins CSS File -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugins/owl-carousel/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugins/jquery.countdown.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugins/magnific-popup/magnific-popup.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/skins/skin-demo-24.css' %}">
    <link rel="stylesheet" href="{% static 'css/demos/demo-24.css' %}">
      <link rel="stylesheet" href="{% static 'css/plugins/owl-carousel/owl.carousel.css' %}">
      <link rel="stylesheet" href="{% static 'css/plugins/magnific-popup/magnific-popup.css' %}">
      <link rel="stylesheet" href="{% static 'css/plugins/nouislider/nouislider.css' %}">
</head>

<body>
    <div class="page-wrapper">
      <header class="header header-11" style="background:#222;">
        <div class="header-middle sticky-header">
          <div class="header-left">
            <button class="mobile-menu-toggler">
              <span class="sr-only">Toggle mobile menu</span>
              <i class="icon-bars"></i>
            </button>


            <!--========================= Main Site Logo ============================== -->

            <a href="/" class="logo">
              <img src="{% static 'images/logo.png' %}" alt="Ecom Logo" width="110" height="25">
            </a>
          </div><!-- End .header-left -->

          <div class="header-center">
            <nav class="main-nav">
              <ul class="menu sf-arrows">
                <li class="megamenu-container active">
                  <a href="/">Home</a>
                </li>
                <li>
                  {% if customer %}
                   <a href="/dashboard" style="color:#ffffff">dashboard</a>
                  {% else %}
                  <a href="/login" style="color:#ffffff">Login</a>
                  {% endif %}
                </li>
                <li>
                  <a href="/categories" style="color:#ffffff">All Categories</a>
                </li>
                <li>
                  <a href="#" class="sf-with-ul">About/Contact</a>
                  <ul>
                    <li>
                      <a href="/about">About</a>
                    </li>
                    <li>
                      <a href="/contact">Contact</a>
                    </li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
              </ul><!-- End .menu -->
            </nav><!-- End .main-nav -->
          </div>

          <div class="header-right">
            <div class="header-search">
              <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
              <form action="/search/" method="GET">
                <div class="header-search-wrapper">
                  <label for="q" class="sr-only">Search</label>
                  <input type="search" class="form-control" name="search" id="q" placeholder="Search in..." required>
                </div><!-- End .header-search-wrapper -->
              </form>
            </div><!-- End .header-search -->
            {% comment %} <div class="wishlist">
              <a href="wishlist.html" title="Wishlist">
                <i class="icon-heart-o"></i>
                <span class="wishlist-count">3</span>
              </a>
            </div><!-- End .compare-dropdown --> {% endcomment %}

            <div class="dropdown cart-dropdown">
              <a href="/login" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" data-display="static">
                <i class="icon-shopping-cart"></i>
                  <span class="cart-count">{% if cart_count %}{{cart_count}}{% endif %}</span>
              </a>
              {% if customer %}
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="dropdown-cart-products" id="dropdown-cart-products">
                    {% if carts %}
                      {% for cart in carts %}
                        {% if not cart.booking %}
                          <div class="product cart-product">
                            <div class="product-cart-details">
                              <h4 class="product-title">
                                <a href="/product/{{cart.product.product_slug}}">{{cart.product.product_name}}</a>
                              </h4>
      
                              <span class="cart-product-info">
                                <span class="cart-product-qty">{{cart.quantity}}</span>
                                x Rs. {{cart.product.selling_rate}}
                              </span>
                            </div><!-- End .product-cart-details -->
      
                            <figure class="product-image-container">
                              <a href="/product/{{cart.product.product_slug}}" class="product-image">
                                {% if cart.product.product_image1 %}
                                <img src="{{cart.product.product_image1.url}}" alt="product">
                                {% else %}
                                <img src="{% static 'images/products/cart/product-1.jpg' %}" alt="product">
                                {% endif %}
                              </a>
                            </figure>
                            <p style="cursor: pointer;" data-id="{{cart.product.id}}" class="btn-remove remove-to-cart-btn" title="Remove Product"><i class="icon-close"></i></p>
                          </div><!-- End .product -->
                        {% endif %}
                      {% endfor %}
                    {% endif %}

                  </div><!-- End .cart-product -->

                  {% comment %} <div class="dropdown-cart-total">
                    <span>Total</span>

                    <span class="cart-total-price">$160.00</span>
                  </div><!-- End .dropdown-cart-total --> {% endcomment %}

                  <div class="dropdown-cart-action">
                    <a href="/cart" class="btn btn-primary">View Cart</a>
                    <a href="/checkout" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                  </div><!-- End .dropdown-cart-total -->
                </div><!-- End .dropdown-menu -->
              {% endif %}


            </div><!-- End .cart-dropdown -->
          </div><!-- End .header-right -->
        </div><!-- End .header-middle -->
      </header><!-- End .header -->

        <main class="main">
            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('{% static 'images/backgrounds/login-bg.jpg' %}');min-height:100vh;">
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							    <li class="nav-item">
							        <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">Sign In</a>
							    </li>
							    <li class="nav-item">
							        <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">Register</a>
							    </li>
							</ul>
							<div class="tab-content">
							    <div class="tab-pane fade" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
							    	<form action="" method="POST">
                      {% csrf_token %}
							    		<div class="form-group">
							    			<label for="singin-email-2">email address *</label>
							    			<input type="text" class="form-control" id="singin-email-2" name="email" required>
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="singin-password-2">Password *</label>
							    			<input type="password" class="form-control" id="singin-password-2" name="password" required>
							    		</div><!-- End .form-group -->

							    		<div class="form-footer">
							    			<button type="submit" class="btn btn-outline-primary-2">
			                					<span>LOG IN</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>

											<a href="#" class="forgot-link">Forgot Your Password?</a>
							    		</div><!-- End .form-footer -->
							    	</form>

							    	{% comment %} <div class="form-choice">
								    	<p class="text-center">or sign in with</p>
								    	<div class="row">
								    		<div class="col-sm-6">
								    			<a href="#" class="btn btn-login btn-g">
								    				<i class="icon-google"></i>
								    				Login With Google
								    			</a>
								    		</div><!-- End .col-6 -->
								    		<div class="col-sm-6">
								    			<a href="#" class="btn btn-login btn-f">
								    				<i class="icon-facebook-f"></i>
								    				Login With Facebook
								    			</a>
								    		</div><!-- End .col-6 -->
								    	</div><!-- End .row -->
							    	</div><!-- End .form-choice --> {% endcomment %}

							    </div><!-- .End .tab-pane -->
							    <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
							    	<form action="/register/" method="POST">
                                        {% csrf_token %}
							    		<div class="form-group">
							    			<label for="register-email-2">Name*</label>
							    			<input type="text" class="form-control" id="register-name-2" name="name" required>
							    		</div><!-- End .form-group -->
							    		<div class="form-group">
							    			<label for="register-email-2">Number*</label>
							    			<input type="tel" class="form-control" id="register-number-2" name="number" required>
							    		</div><!-- End .form-group -->
							    		<div class="form-group">
							    			<label for="register-email-2">Your email address *</label>
							    			<input type="email" class="form-control" id="register-email-2" name="email" required>
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="register-password-2">Password *</label>
							    			<input type="password" class="form-control" id="register-password-2" name="password" required>
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="register-password-2">Verify Password *</label>
							    			<input type="password" class="form-control" id="register-vpassword-2" name="vpassword" required>
							    		</div><!-- End .form-group -->

							    		<div class="form-footer">
							    			<button type="submit" class="btn btn-outline-primary-2">
			                					<span>SIGN UP</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>

			                				<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="register-policy-2" required>
												<label class="custom-control-label" for="register-policy-2">I agree to the <a href="#">privacy policy</a> *</label>
											</div><!-- End .custom-checkbox -->
							    		</div><!-- End .form-footer -->
							    	</form>
							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->

 
      
    <footer class="footer mt-3">

      <div class="footer-middle">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-12">
              <div class="widget widget-about">
                <img src="{% static 'images/logo.png' %}" class="footer-logo" alt="Footer Logo"
                  width="110" height="25">
                <p>This is the best Second Hand booked selling Website.There are the best and top quality books. </p>

                <div class="social-icons">
                  <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                  <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                  <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                  <a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                  <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                </div><!-- End .soial-icons -->
              </div><!-- End .widget about-widget -->
            </div><!-- End .col-sm-12 col-lg-3 -->

            <div class="col-lg-3 col-sm-4 col-md-4">
              <div class="widget">
                <h4 class="widget-title">useful links</h4><!-- End .widget-title -->

                <ul class="widget-list">
                  <li><a href="/about">About Ecom</a></li>
                  <li><a href="/">How to shop on Molla</a></li>
                  <li><a href="/contact">Contact us</a></li>
                  {% if customer %}
                  <li><a href="/dashboard">Dashboard</a></li>
                  {% else %}
                  <li><a href="/login">Log in</a></li>
                  {% endif %}
                </ul><!-- End .widget-list -->
              </div><!-- End .widget -->
            </div><!-- End .col-sm-4 col-lg-3 -->

            <div class="col-lg-3 col-sm-4 col-md-4">
              <div class="widget">
                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                <ul class="widget-list">
                  <li><a href="/">Payment Methods</a></li>
                  <li><a href="/">Money-back guarantee!</a></li>
                  <li><a href="/">Free Shipping</a></li>
                  <li><a href="/">Terms and conditions</a></li>
                  <li><a href="/">Privacy Policy</a></li>
                </ul><!-- End .widget-list -->
              </div><!-- End .widget -->
            </div><!-- End .col-sm-4 col-lg-3 -->

            <div class="col-lg-3 col-sm-4 col-md-4">
              <div class="widget">
                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                <ul class="widget-list">
                  {% if customer %}
                  <li><a href="/dashboard">Dashboard</a></li>
                  <li><a href="/logout">Logout</a></li>
                  {% else %}
                  <li><a href="/login">Log in</a></li>
                  {% endif %}
                  <li><a href="/cart">View Cart</a></li>
                  <li><a href="#">Track My Order</a></li>
                  <li><a href="/">Help</a></li>
                </ul><!-- End .widget-list -->
              </div><!-- End .widget -->
            </div><!-- End .col-sm-64 col-lg-3 -->
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <p class="footer-copyright">Copyright © 2021 Ecom Store. All Rights Reserved.</p>
          <!-- End .footer-copyright -->

          <figure class="footer-payments">
            <img src="{% static 'images/payments.png' %}" alt="Payment methods" width="272" height="20">
          </figure><!-- End .footer-payments -->

        </div><!-- End .widget-about-info -->
      </div><!-- End .container -->
  </div><!-- End .footer-bottom -->
  </footer>


    </div><!-- End .page-wrapper -->

    
  <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

  <div class="mobile-menu-overlay">
  </div><!-- End .mobil-menu-overlay -->
  <div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper">
      <span class="mobile-menu-close"><i class="icon-close"></i></span>

      <form action="/search/" method="GET" class="mobile-search">
        <label for="mobile-search" class="sr-only">Search</label>
        <input type="search" class="form-control" name="search" id="mobile-search" placeholder="Search in..."
          required>
        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
      </form>

      <nav class="mobile-nav">
        <ul class="mobile-menu">
          <li class="active">
            <a href="/">HOME</a>
          </li>
          {% if request.user.is_active %}
          <li>
            <a href="/dashboard">Dashboard</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
          {% else %}
          <li>
            <a href="/login">Login</a>
          </li>
          <li>
            <a href="/login">Register</a>
          </li>
          {% endif %}
          <li>
            <a href="/contact">CONTACTS</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </nav><!-- End .mobile-nav -->

      <div class="social-icons">
        <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
      </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
  </div><!-- End .mobile-menu-container -->

    <!-- Plugins JS File -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'js/jquery.elevateZoom.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      {% if messages %}
        {% for message in messages %}
        Swal.fire(`{{message}}`,'Ecom','{{message.tags}}');
        {% endfor %}
      {% endif %}
    </script>
</body>

</html>